* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(237, 241, 214);
  font-size: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* fejléc és navigáció */

header {
  position: relative;
  height: 30vh;
  background-image: url(../img/header.jpg);
  background-size: cover;
  background-position: center;
}

nav.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(96, 153, 102);
  color: #fff;
  position: sticky;
  top: 0;
  width: 100%;
  padding: 15px 20px;
  z-index: 1000;
}

.menu {
  display: none; /* alapból rejtve mobilon */
  flex-direction: column;
  list-style: none;
  position: absolute;
  top: 60px;
  right: 0;
  background-color: rgba(96, 153, 102, 0.95);
  width: 400px;
  text-align: center;
  padding: 10px 0;
  font-size: 1.5rem;
  z-index: 1000;
}

.menu.active {
  display: flex;
}

.menu li {
  margin: 0 25px;
  padding: 5px;
}

.menu a {
  text-decoration: none;
  color: #f5f5f5;
}

.menu a:hover {
  background-color: purple;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  
}

.hamburger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.hamburger div {
  background-color: #fff;
  width: 25px;
  height: 3px;
  margin: 4px;
}

.hamburger a:hover {
  background-color: purple;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
}

/* fejléc cim */
.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; /* távolság a cím és kereső között */
}

h1 {
  font-family: "Italianno", cursive;
  color: white;
  font-size: 3rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  z-index: 10;
}

/* keresés */

.search-input {
  padding: 10px 15px;
  border-radius: 25px;
  border: none;
  font-size: 1rem;
  width: 250px;
}

.hero-title {
  font-family: "Italianno", cursive;
  color: white;
  font-size: 3rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  opacity: 0;
  transform: translateY(-50px); /* fentebb indul */
  animation: slideDown 1s ease-out forwards; /* animáció neve, idő, easing, végállapot */
}

/* mottó - csak nagy kijelzőn */

div.motto {
  display: none; /*alapból rejtve mobilon */
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: rgba(96, 153, 102, 0.8);
  color: white;
  padding: 20px 0;
}

div.motto {
  font-size: 1.5rem;
}

/* fő tartalom */

/* főoldal elrendezése */

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.wellcome {
  background-color: rgb(157, 192, 139);
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 1.2rem;
}

.wellcome h2 {
  font-size: 2rem;
  padding-bottom: 10px;
  color: purple;
  text-shadow: rgba(255, 255, 255, 0.801);
}

.wellcome ul {
  list-style-type: none;;
}

div.card-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  gap: 10px;
}

div.card-purple {
  background-color: rgb(157, 192, 139);
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

div.card-purple a {
  text-decoration: none;
  color: white;
}

div.card-purple:hover {
  background-color: purple;
  color: white;
}

/* katalógus elnevezése */

h2.title-catalog {
  color: purple;
  text-shadow: rgba(255, 255, 255, 0.801);
  margin: 20px 0;
  text-align: center;
}

section.catalog {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  gap: 20px;
}

/* gyógynövény katalógus */

.card {
  width: 450px;
  height: 250px;
  perspective: 1000px;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

/* Hover vagy kattintásra forgatás */
.card:hover .card-inner {
  transform: rotateY(180deg);
}

/* Előlap és hátlap */
.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* elrejti a hátlapot előlapnál */
  border-radius: 10px;
  overflow: hidden;
}

/* gyógynövény kártya előlap */
.card-front {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute; /* háttérként */
  top: 0;
  left: 0;
  z-index: 1;
}

/* gyógynövény kártya cím sáv */
.card-title {
  width: 100%;
  background-color: rgba(128, 0, 128, 0.815);
  color: white;
  text-align: center;
  padding: 5px 0;
  font-weight: bold;
  z-index: 2;
  position: relative;
  font-size: 1.2rem;
}

/* Hátlap megforditva */
.card-back {
  background-color: #609966;
  color: white;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  text-align: center;
}

.card-back p {
  padding: 5px 0;
}

/* google map */
.map {
  margin: 10px auto;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

/* footer */
footer {
  background-color: rgb(96, 153, 102, 0.8);
  text-align: center;
  color: white;
  padding: 15px 0;
}

/* reszponzív design */

/* tablet */
@media (min-width: 825px) {
  .card {
    width: 250px;
    height: 250px;
  }
  .hero-title {
    font-size: 4rem;
  }
  header {
    height: 30vh;
  }
  section.catalog {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
  }
}
/*tablet néyet */
@media (min-width: 1144px) {
  .card {
    width: 350px;
    height: 300px;
  }
  .hero-title {
    font-size: 6rem;
  }
  header {
    height: 50vh;
  }
  div.motto {
    display: block;
  }
  section.catalog {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
  }
  .search-input {
    padding: 10px 15px;
    border-radius: 25px;
    border: none;
    font-size: 1rem;
    width: 350px;
  }
}
/* laptop néyet */
@media (min-width: 1264px) {
  .card {
    width: 380px;
    height: 300px;
  }
  .hero-title {
    font-size: 6rem;
  }
  header {
    height: 50vh;
  }
  div.motto {
    display: block;
  }
  section.catalog {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
  }
  .search-input {
    padding: 10px 15px;
    border-radius: 25px;
    border: none;
    font-size: 1rem;
    width: 350px;
  }
}

/* desktop néyet */
@media (min-width: 1766px) {
  .hamburger {
    display: none;
  }
  .menu {
    display: flex;
    flex-direction: row;
    position: static;
    width: auto;
    background: none;
  }

  .hero-title {
    font-size: 7rem;
  }

  div.motto {
    display: block;
  }

  .card-purple {
    width: 40%;
  }

  header {
    height: 60vh;
  }

  section.catalog {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
  }

  .search-input {
    padding: 10px 15px;
    border-radius: 25px;
    border: none;
    font-size: 1rem;
    width: 550px;
  }
  .card {
    width: 300px;
    height: 300px;
  }
}


/* animáció oldalcímre */
@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
