* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(237, 241, 214);
  font-size: 16px;
  width: 100%;
}

/* fejléc kép*/

header {
  position: relative;
  height: 30vh;
  background-image: url(../img/header_1920x1080.jpg);
  background-size: cover;
  background-position: center;
}

h1 {
  text-align: center;
}
/* Vállalati logó */

.logo {
  width: 170px;
  height: auto;
  display: block;
  margin-left: 15px;
}

.logo.active {
  display: none;
}

.logo:hover {
  opacity: 0.8;
}

/* Mellék navigáció */

nav.secondary-nav ul {
  display: none; /*mobilon nincs */
}

nav.secondary-nav li {
  list-style-type: none;
  margin: 0 15px;
  padding: 5px;
}

nav.secondary-nav a {
  text-decoration: none;
  color: rgb(96, 153, 102);
  padding: 5px 10px;
  border-radius: 10px;
  display: inline-block;
  transition: 0.2s;
}

nav.secondary-nav a:hover {
  background-color: purple;
  color: white;
}

/* Fő navigációs sáv */

nav.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #609966;
  color: #fff;
  position: sticky;
  top: 0;
  width: 100%;
  height: 80px;
  padding: 5px 5px;
  z-index: 1000;
}

/* hamburger menu - mobil */

.menu {
  display: none; /* alapból rejtve mobilon */
  flex-direction: column;
  list-style: none;
  position: absolute;
  top: 90px;
  background-color: rgba(96, 153, 102, 0.95);
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  font-size: 1.5rem;
  z-index: 1000;
}

.menu.active {
  display: flex;
}

.menu li {
  margin: 10px 0;
}

.menu a {
  text-decoration: none;
  color: #f5f5f5;
  padding: 5px 10px;
  border-radius: 10px;
  display: block;
}

.menu a:hover {
  background-color: purple;
  border: none;
}

.hamburger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin-right: 15px;
}

.hamburger div {
  background-color: #fff;
  width: 25px;
  height: 3px;
  margin: 4px 0;
}

/* fejléc cim */

.hero-content {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* keresés */

.search-input,
.search-nav {
  padding: 10px 15px;
  border-radius: 25px;
  border: none;
  font-size: 1rem;
  width: 250px;
}

.mobile-search {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
  opacity: 0;
  transition: 0.3s;
}

.mobile-search.active {
  display: block;
  opacity: 1;
}

.hero-title {
  font-family: "Italianno", cursive;
  color: white;
  font-size: 3rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  opacity: 0;
  transform: translateY(-50px); /* fentebb indul */
  animation: slideDown 1s ease-out forwards;
  /* animáció neve, idő, easing, végállapot */
}

/* mottó - csak nagy kijelzőn */

div.motto {
  display: none; /*alapból rejtve mobilon */
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: rgba(96, 153, 102, 0.8);
  color: white;
  padding: 20px 0;
  font-size: 1.5rem;
}

/* Fő tartalmi rész egyes oldalakon */

/* főoldal elrendezése */

main.blog {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
}

.blog h2 {
  color: purple;
  margin: 30px 0 30px 0;
}

.cikk h3,
.cikk img {
  margin-bottom: 20px;
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.post a {
  text-decoration: none;
  color: black;
}

.post img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.post {
  padding: 0;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.3s;
}

.post:hover {
  transform: translateY(-5px);
}

.post h4 {
  margin-bottom: 10px;
}

/* Hírlevél form */
.newsletter {
  width: 90%;
  margin: 40px auto;
  padding: 30px;
  background-color: rgba(157, 192, 139, 0.514);
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.newsletter h3 {
  font-size: 2rem;
  color: purple;
  margin-bottom: 15px;
}

.newsletter p {
  font-size: 1rem;
  margin-bottom: 20px;
  color: #050505;
}

.newsletter form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.checkbox-label {
  display: flex;
  align-items: center;
  gap: 10px;
}

.newsletter input[type="text"],
.newsletter input[type="email"] {
  width: 80%;
  max-width: 400px;
  padding: 12px 20px;
  border-radius: 25px;
  border: none;
}

.newsletter button {
  background-color: purple;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 12px 30px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.newsletter button:hover {
  background-color: rgba(128, 0, 128, 0.637);
}

.newsletter-atfedes {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.06);
  backdrop-filter: blur(5px);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
}

/*aktiv allapotban */
.newsletter-atfedes.active {
  opacity: 1;
  visibility: visible;
}

.atfedes-kontener {
  background-color: white;
  padding: 20px;
  border-radius: 16px;
  text-align: center;
  max-width: 400px;
  transform: scale(0.8);
  transition: 0.3s ease;
  width: 90%;
}

.newsletter-atfedes.active .atfedes-kontener {
  transform: scale(1);
}

.atfedes-kontener button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  background-color: #4caf50;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

/*Cikk cimek */
.welcome {
  margin: 25px;
  text-align: center;
  font-size: 1.2rem;
}

.welcome h2 {
  font-size: 2rem;
  margin: 15px 0 5px 0;
  color: purple;
  text-shadow: rgba(255, 255, 255, 0.801);
}

.welcome ul {
  list-style-type: none;
}

/* katalógus elnevezése */

h2.title-catalog {
  color: purple;
  text-shadow: rgba(255, 255, 255, 0.801);
  margin: 20px 0;
  text-align: center;
}
/* katalógus kártyák */
section.catalog {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-items: center;
  padding: 20px;
}

.card {
  width: 100%;
  max-width: 300px;
  height: 300px;
  margin: 0 auto;

}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

/* Hover vagy kattintásra forgatás */
.card:hover .card-inner {
  transform: rotateY(180deg);
}

/* Előlap és hátlap */
.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
}

/* gyógynövény kártya előlap */
.card-front {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  /* háttérként */
  top: 0;
  left: 0;
  z-index: 1;
}

/* gyógynövény kártya cím sáv */
.card-title,
.card-title-latin {
  width: 100%;
  background-color: rgba(128, 0, 128, 0.815);
  color: white;
  text-align: center;
  padding: 5px 0;
  font-weight: bold;
  z-index: 2;
  position: relative;
}
.card-title {
  font-size: 1.2rem;
}

.card-title-latin {
  font-style: italic;
  font-size: 1rem;
}

/* Hátlap megforditva */
.card-back {
  background-color: #609966;
  color: white;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  text-align: center;
}

.card-back p {
  padding: 5px 0;
}

/* tartalmi rész az oldalakon */

.text {
  width: 90%;
  margin: auto;
  text-align: justify;
  padding: 20px 0 20px 0;
}

.text p {
  margin-bottom: 15px;
}

.border {
  padding: 20px;
  border-bottom: 1px solid rgb(15, 77, 13);
}

.text h4 {
  margin: 20px 0 20px 0;
}

.text-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-img {
  max-width: 80%;
  height: auto;
  margin: 0 auto 20px auto;
  display: block;
}
.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.video-container {
  position: relative;
  width: 100%;
  max-width: 825px;
  margin: 0 auto;
  aspect-ratio: 16 / 9;
}

.video-container iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

/*Megjegyzés, rólunk, vizsgamunka */
.text-redBorder {
  border: 2px solid #b22222;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff8f8;
  max-width: 800px;
  margin: 20px auto;
  line-height: 1.6;
}

.text-redBorder a {
  color: #b22222;
  text-decoration: underline;
}

/* google map */
.map {
  width: 90%;
  margin: 10px auto;
}

/* footer */
footer {
  background-color: rgba(96, 153, 102, 0.9);
  color: white;
  padding: 25px 15px;
  text-align: center;
}
/* Menü */
.secondary-nav-footer {
  display: flex;
  justify-content: center;
  gap: 25px;
  list-style: none;
  margin-bottom: 15px;
}

.secondary-nav-footer a {
  text-decoration: none;
  color: white;
  font-size: 0.95rem;
  opacity: 0.85;
  transition: 0.3s;
}

.secondary-nav-footer a:hover {
  opacity: 1;
  text-decoration: underline;
}

/*vissza a tetejére */
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 45px;
  height: 45px;
  background-color: rgba(96, 153, 102, 0.9);
  color: white;
  font-size: 22px;
  text-align: center;
  line-height: 45px;
  border-radius: 50%;
  text-decoration: none;
  display: none; /* alapból rejtve */
  z-index: 1000;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
}

.back-to-top:hover {
  background-color: purple;

  transform: scale(1.1);
}

html {
  scroll-behavior: smooth;
}

/* Copyright */
.copyright {
  font-size: 0.8rem;
  opacity: 0.6;
}

/* reszponzív design */

/* tablet */
@media (min-width: 768px) {
  .hero-title {
    font-size: 4rem;
  }

  .newsletter input[type="text"],
  .newsletter input[type="email"] {
    width: 60%;
  }

  .newsletter button {
    padding: 12px 40px;
  }

}

/*tablet méret */
@media (min-width: 1024px) {
  header {
    height: 40vh;
  }

  .menu {
    display: flex;
    flex-direction: row;
    position: static;
    width: auto;
    background: none;
  }

   .hamburger {
    display: none;
  }

  .search-nav {
    display: none;
  }

  .hero-title {
    font-size: 6rem;
  }

  div.motto {
    display: block;
  }

  .search-input {
    width: 350px;
  }
}

/* laptop néret */
@media (min-width: 1280px) {
  nav.secondary-nav ul {
    display: flex;
    justify-content: flex-end;
  }

  .secondary-nav-footer {
    display: none;
  }

 


  .newsletter {
    width: 50%;
  }

  .posts {
    flex-direction: row;
    justify-content: space-evenly;
    gap: 30px;
  }

  .post {
    flex: 1;
  }

  .welcome h2 {
    margin: 15px 0 5px 0;
  }

}

/* desktop néret */
@media (min-width: 1536px) {
  .hero-title {
    font-size: 7rem;
  }

  .search-input {
    width: 550px;
  }

  .card-purple {
    width: 40%;
  }
  header {
    height: 50vh;
  }


}

/* animáció oldalcímre */
@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
